@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.contact {
  .wrapper {
    padding: 20vh 0;
    padding-bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;

    @include mdMaxBreakPoint {
      padding: 10vh 0;
      flex-direction: column;
    }


    .content {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;

      @include mdMaxBreakPoint {
        margin-top: 0;
        //height: 100vh;
        width: 100%;
        padding-bottom: 10vh;
      }

      .container {
        width: 70%;
        text-align: center;
        @include mdMaxBreakPoint {
          width: 90%;
        }

        .header {
          width: 100%;
          line-height: 190.3%;
          @include mdMaxBreakPoint {
            font-size: 36px;
          }
        }

        .info {
          margin: 30px 0;
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          font-size: 11px;
          line-height: 13px;
          text-align: center;
          color: rgba(255, 255, 255, 0.8);

          .section {
            width: calc(100% / 3);

            &:nth-child(2), &:nth-child(3) {
              margin-top: 10px;

              p {
                margin-top: 14px;
                //background-color: white;
              }

            }

            &:nth-child(3) {
              p {
                margin-top: 13px;
              }
            }
          }
        }

        form {
          margin: 30px 0;

          .item {
            margin: 35px 0;
          }

          .name {
            width: 100%;
            display: flex;
            justify-content: space-between;
          }
        }

        .button {
          display: flex;
          justify-content: center;
        }
      }
    }

    .imgContainer {
      width: 50%;
      height: 80vh;
      position: relative;
      right: 0;
      //background-color: #9c66ff;

      @include mdMaxBreakPoint {
        //height: 100vh;
        display: none;
        width: 100%;
        padding: 0 5%;
      }
      //.imageContainer {
      //  position: absolute;
      //  width: 100%;
      //  height: 100%;
      img {
        width: 100%;
        object-fit: contain;
        height: 100%;
        object-position: left;

        @include mdMaxBreakPoint {
          object-fit: cover;
          object-position: center;
        }
      }

      //}
    }
  }
}

.Button {
  display: flex;
  width: fit-content;
  cursor: pointer;
  padding: 15px 40px;
  border-radius: 25px;
  font-size: .8vw;
  line-height: 19px;
  @include mdMaxBreakPoint {
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 13px;
  }
;
}