.topupPage {
  min-height: 100vh;
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 110px;

  .wrapper {
    // border: 2px solid red;
    padding: 0 30px;
  }

  input {
    border: none;
  }
}
.mainHeading {
  margin-bottom: 100px;
  //   border: 1px solid red;
}

.heading {
  font-weight: Bold;
  font-size: 24px;
  line-height: 29px;
  line-height: 100%;
  color: #212121f2;
  margin-bottom: 15px;
  text-align: center;
}

.info {
  // border: 1px solid red;
  margin: 0 auto;
  font-weight: Bold;
  font-size: 12px;
  line-height: 15px;
  line-height: 100%;
  color: #525252;
  width: 80%;
  text-align: center;
}

.buttonSection {
  //   border: 1px solid red;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

/* Input style */
.inputText {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  // border: 1px solid red;
  margin-bottom: 40px;

  &:focus-within label,
  .active {
    transform: translate(0, 12px) scale(0.5);
    margin-top: 0;
  }
  input[value] {
    label {
      transform: translate(0, 12px) scale(0.5);
      margin-top: 0;
    }
  }
  label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 12px) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    // color: #fff;
    opacity: 0.6;
    font-size: 12px;
    line-height: 1;
    left: 2px;
    margin-top: 5px;
  }

  input {
    height: 50px;
    // color: white;
    border: none;
    // border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
    padding: 20px 16px 4px 2px;
    font-size: 16px;

    line-height: 1;
    background-color: transparent;
    outline: none;
    box-shadow: none;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    &.dark {
      color: white;
      // border: 1px solid red;
      border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
      &:focus {
        border-color: rgba(162, 113, 255, 0.5);
        //box-shadow: 0 0 0 2px rgba(66, 130, 255, 0.6);
      }
    }
    &.light {
      color: #525252;
      border-bottom: 1px #181614 solid;
      &:focus {
        border-color: #a271ff;
        //box-shadow: 0 0 0 2px rgba(66, 130, 255, 0.6);
      }
    }
  }
}


.paystackButton{
  border-radius: 43px;
  background-color: #7630fa;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 131px;
  height: 50px;
}