@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions";

.forBusiness {
  background: #000000;

  .wrapper {
    padding: 10vh 0 15vh;

    @include lgMaxBreakPoint {
      padding: 5vh 0;
    }

    .topVideoContainer {
      height: 35vh;
      min-height: 100%;
      //background: red;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 5vh;

      @include mdMaxBreakPoint {
        display: none;
      }


      .item {
        width: 35%;
        //background: saddlebrown;

        video {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    .content {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 5vh;

      @include mdMaxBreakPoint {
        padding: 5vh 0;
      }

      .contain {
        display: flex;
        flex-direction: column;

        .header {
          @include mdMaxBreakPoint {
            font-size: toRem(48);
            line-height: 58px;
          }
        }

        .paragraph{
          p {
            line-height: 190.3%;
            color: $text-blend;

            margin-bottom: 20px;

            span{
              font-weight: 700;
            }

            @include lgMaxBreakPoint {
              margin-bottom: 10px;
            }
          }
        }
      }


    }

    .videosContainer {
      //display: grid;
      margin-top: -10vh;
      height: 80vh;
      min-height: 100%;
      //background: red;
      width: 100%;
      display: flex;
      gap: 3.5rem;
      margin-bottom: 5vh;

      @include xlMaxBreakPoint {
        gap: 1.5rem;
      }

      @include mdMaxBreakPoint {
        display: none;
      }

      .item1 {
        //background: white;
        height: 55%;
        width: 45%;
        align-self: flex-end;
        video {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }


      }

      .item2 {
        //background: #4282FF;
        height: 90%;
        width: 50%;



        video {
          object-position: right;
          object-fit: contain;
          width: 100%;
          height: 100%;



          @include xlMaxBreakPoint{
            object-fit: cover;
          }
        }
      }
    }

    .slider {
      display: none;
      @include mdMaxBreakPoint {
        display: flex;
        height: 400px;
        width: 100%;
        margin-bottom: 5vh;
      }

      .sliderContainer {
        width: 100%;
        height: 100%;

        .slide{

          width: 100%;
          height: 100%;

          video, img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }

        }


      }
    }
  }
}