@import "../../styles/functions";
@import "../../styles/mixins";
@import "../../styles/variables";


.products {
  background-color: #1f1f1f;
  padding-top: 10vh;
  @include mdMaxBreakPoint {
    padding-top: 15vh;
  }

}

.layout1 {
  width: 100vw;
  height: 100vh;
  background-color: #1f1f1f;
  position: relative;
  padding-bottom: 10vh;
  //margin-bottom: 30px;

  @include mdMaxBreakPoint {
    height: auto;
    min-height: 100vh;

    padding: 2rem 0;
  }

  &Wrapper {
    // border: 3px solid red;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-direction: row-reverse;
    @include lgMaxBreakPoint {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    @include mdMaxBreakPoint {

      //align-items: center;
    }
  }

  .content {
    // border: 3px solid black;
    // text-align: right;x
    @include mdMaxBreakPoint {
      margin-bottom: 50px;
    }

    .body {
      //background-color: #9c66ff;
        width: 30vw;

      span{
        font-weight: 700;
      }

        @include lgMaxBreakPoint {
          width: 70%;
        }
        @include mdMaxBreakPoint {
          width: 100%;
        }
    }
  }

  .video {
    width: 30%;
    display: flex;
    justify-content: center;
    @include mdMaxBreakPoint {
      width: 100%;
      order: 3;

    }

    .videoContainer {
      width: 100%;

      video {
        border-radius: 50px;
        width: 100%;
        //background-color: red !important;

      }
    }
  }
}

.ProductsLayout2 {
  width: 100%;
  background-color: #1f1f1f;
  //-webkit-background-color:  #1f1f1f;
  height: 100%;
  min-height: 100vh;
  display: flex;
  padding: 10vh 0;

  @include mdMaxBreakPoint {
    min-height: 100%;
    padding-bottom: 0;
    padding-top: 0;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    padding: 5vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    align-self: center;

    @include mdMaxBreakPoint {
      flex-direction: column;

    }

    .heading{
      width: 30%;
      @include mdMaxBreakPoint {
        width: 100%;
        order: 1;

      }
    }

    .video{
      width: 30%;
      display: flex;
      justify-content: center;
      @include mdMaxBreakPoint {
        width: 100%;
        order: 3;

      }

      .container {
        width: 100%;
        video {
          border-radius: 50px;
          width: 100%;
          //background-color: red !important;

        }
      }
    }

    .paragraph {
      width: 30%;
      display: flex;
      justify-items: center;
      padding-left: 4vw;

      @include mdMaxBreakPoint {
        width: 100%;
        order: 2;
        padding-bottom: 5vh;
        padding-left: 0;

      }
      .paragraphContainer {
        width: 100%;

        span {
          font-weight: 700;
        }
      }
    }
  }

}
