.inputTextArea {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 200px;
  //border-radius: 20px;
  border: none;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  outline: none;
  padding: 0 30px 30px 0;
  box-shadow: none;
  color: white !important;
  &:focus {
    border-color: rgba(162, 113, 255, 0.5);
    //box-shadow: 0 0 0 2px rgba(66, 130, 255, 0.6);
  }
}
