.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: -40px;
}

.loader {
  width: 30px;
  height: 30px;
  // position: absolute;
  // top: 18%;
  // left: 35%;

  transform: translate(-50%, -50%);
  /* margin: 110px auto 0; */
  border: solid 1px #7630fa;
  border-radius: 25px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  -webkit-transition: all 0.1s ease-in;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transition: all 0.7s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
