@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions";

//.header {
//  p {
//    @include lgMaxBreakPoint {
//      line-height: 43px;
//      font-size: toRem(32);
//    }
//  }
//}
//
//.firstP {
//  margin-left: 60%;
//  width: 40%;
//  text-align: left;
//  padding: 5vh 0;
//  color: #8E8E93;
//
//  @include lgMaxBreakPoint {
//    text-align: right;
//    margin-left: 25%;
//    margin-bottom: 10px;
//    width: 75%;
//  }
//}

.movies {
  background: #ffffff;
  color: #000;

  .container {
    width: 90vw;
    margin: 0 auto;

    @include lgMaxBreakPoint {
     margin-top: -3vh;
    }

    img {
      width: 100%;
    }

    .paragraph {
      padding: 6vh 0;
      text-align: left;
      color: #8E8E93;
      width : 80%;
      margin: 0 auto;
       @include lgMaxBreakPoint {
         width: 95%;

         padding-top: 3vh;

       }

    }
  }
}