@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.retailers {
  background: #fff;
  height: 100%;
  width: 100%;
  color: #000000;
  padding: 20vh 5vw 20vh;


  @include lgMaxBreakPoint {
    padding: 5vh 10vw 5vh;
  }

  p:nth-child(1) {
    font-weight: 600;
    @include lgMaxBreakPoint {
      font-weight: 400;
    }
  }

}