@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions";

.headerIllustration {
  height: 100vh;
  max-height: 100%;
  width: 100%;
  @include mdMaxBreakPoint {
   height: 100%;
  }

  p{
    text-align: center;
    color: #ffffff;
    padding-top: 5vh;
    @include mdMaxBreakPoint {
      padding-top: 2.5vh;
    }
  }

  .container {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
    .img {
      height: 100%;
      width: 23.5%;
      img {
        width: 100%;
      }
    }
  }

  .slider {
    display: none;
    @include mdMaxBreakPoint {
      display: flex;
      width: 100%;
      padding-left: calc(15% / 2);
      margin-bottom: 5vh;
    }

    .sliderContainer {
      .slide {
        display: flex;
        flex-direction: column;

        video, img {
          //height: 100%;
          width: 100%;
        }

      }


    }
  }
}