@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.partners {
  background-color: $bg-light;

  .wrapper {
    padding: 15vh 0 ;
    width: 100%;
    height: 100%;
    display: flex;

    @include lgMaxBreakPoint {
      padding: 10vh 0 5vh;
      flex-direction: column;
    }

    .content {
      display: flex;
      width: 100%;
      height: 100%;
      margin-top: 5%;
      justify-content: center;
      color: #4F4F4F;
      text-align: center;


      @include mdMaxBreakPoint {
        margin-top: 0;
        width: 100%;
        padding-bottom: 5vh;
      }

      .container {
        width: 100%;
        @include mdMaxBreakPoint {
          width: 90%;
        }

        p{
          padding-bottom: 10vh;

          @include mdMaxBreakPoint {
            padding-bottom: 30px;
            font-size: 20px;
            line-height: 169.3%;
          }
        }

        .logos{
          display: flex;
          justify-content: space-between;


          @include mdMaxBreakPoint {
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }

          img {
            width: 20vw;

            @include mdMaxBreakPoint {
              width: 200px;
              margin: 2.5vh 0;
            }
          }
        }
      }
    }
  }
}