@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.logistics {
  background-color: $bg-light;
  .wrapper {

    padding: 25vh 0;
    width: 100%;
    height: 100%;
    display: flex;

    @include lgMaxBreakPoint {
      padding: 10vh 0;
      flex-direction: column;
    }


    .content {
      display: flex;
      flex-direction: column;
      //justify-content: center;
      //align-items: center;
      width: 50%;
      height: 100%;
      //background-color: #9c66ff;
      margin-top: 5%;

      @include mdMaxBreakPoint {
        margin-top: 0;
        //height: 100vh;
        width: 100%;
        padding-bottom: 10vh;
      }

      .container {
        width: 70%;
        @include mdMaxBreakPoint {
          width: 90%;
        }
        .paragraph {
          //text-decoration: underline;
          width: 100%;
          line-height: 190.3%;

          @include mdMaxBreakPoint {
            font-size: 20px;
          }
        }
      }
    }

    .imgContainer {
      width: 50%;
      height: 80vh;
      position: relative;
      right: 0;
      //background-color: #9c66ff;

      @include mdMaxBreakPoint {
        //height: 100vh;
        width: 100%;
        padding: 0 5%;
      }
      //.imageContainer {
      //  position: absolute;
      //  width: 100%;
      //  height: 100%;
      img{
        width: 100%;
        object-fit: contain;
        height: 100%;
        object-position: left;

        @include mdMaxBreakPoint {
          object-fit: cover;
          object-position: center;
        }
      }
      //}
    }
  }
}