.shopButton {
  border-radius: 43px;
  background-color: #7630fa;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  &.large {
    width: 131px;
    height: 50px;
  }
  &.small {
    width: 99px;
    height: 38px;
  }

  &.disabled {
    opacity: 0.7;
  }
}
