@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions";

.forCreators {
  width: 100%;
  background-color: #080808;
  height: 100%;
  min-height: 100vh;
  display: flex;

  @include mdMaxBreakPoint {
    min-height: 100%;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    padding: 20vh 0 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    align-self: center;


    @include mdMaxBreakPoint {
      flex-direction: column;
      padding-top: 15vh;
      padding-bottom:5vh;


    }

    .heading {
      width: 30%;
      @include mdMaxBreakPoint {
        width: 90%;
        order: 1;

      }
    }

    .video {
      width: 30%;
      display: flex;
      justify-content: center;
      @include mdMaxBreakPoint {
        width: 80%;
        margin: 0 auto 10vh;
        order: 3;

      }

      .videoContainer {
        width: 90%;

        video {
          border-radius: 18.5%/5%;
          width: 100%;
        }

        img {
          width: 100%;
        }
      }
    }

    .paragraph {
      width: 30%;
      display: flex;
      justify-items: center;
      flex-direction: column;
      padding-left: 2vw;

      @include mdMaxBreakPoint {
        width: 90%;
        order: 2;
        padding-bottom: 10vh;
        padding-left: 0;

      }

      .paragraphContainer {
        width: 100%;
        color: $text-blend;
        @include lgMaxBreakPoint {
          margin-bottom: 10px;
        }

        p {
          line-height: 190.3%;
          margin-bottom: 20px;
          span {
            font-weight: 700;
          }
        }
      }
    }
  }

}