.inputSelect {
  position: relative;

  // border: 1px solid red;

  // height: 50px;
  margin-bottom: 20px;

  .selectedValue {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    padding: 0 2px;
    border-bottom: 1px #181614 solid;
    margin-bottom: 20px;

    .defaultText {
      color: #525252;
      // opacity: 0.6;
      font-size: 12px;
    }

    &.dark {
      color: white;
      // border: 1px solid red;
      border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
    }
    &.light {
      color: #525252;
      border-bottom: 1px #181614 solid;
    }
  }

  .optionsSection {
    // border: 1px solid red;
    background-color: #212022;
    max-height: 0;
    // position: absolute;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
    transition: 0.3s all ease;

    .option {
      border-bottom: 1px solid #ffffff66;
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #fff;
      font-size: 12px;

      .img {
        width: 30px;
        font-weight: bold;
        aspect-ratio: 1;
        border-radius: 50%;
        // border: 1px solid blue;
        margin-right: 15px;
        background-image: url("../../../../public/img/gokada.png");
        background-position: center;
        background-size: cover;
      }
    }

    &.active {
      max-height: 211px;
      opacity: 1;
      overflow-y: scroll;
      padding: 15px;
    }
  }
}
