@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.showcase {
  background: #1f1f1f;
  overflow: hidden;

  .wrapper {
    overflow-y: hidden;
    height: 100%;
    width: 100vw;
    padding: 0 10vw;
    display: grid;
    column-gap: 5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "..... item0  ....."
                         "item1 item0  item2"
                         "item1 item0  item2"
                         "..... item0 ....."

  ;

    @include mdMaxBreakPoint {
      transform: translateX(0);
      display: flex;
      width: 100%;
      height: max(500px, 100vh);

    }


    .videoContainer {
      height: 100%;
      z-index: 1;
      @include lgMaxBreakPoint {
        display: none;
        visibility: hidden;
      }
      video,img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5%;
      }
    }

    .item0{
      grid-area: item0;
      height: fit-content;
      video {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
        border-radius: 3vh;
      }
    }
    .item1{
      grid-area: item1;
    }
    .item2{
      grid-area: item2;
    }

    .mobile {
      display: none;
      visibility: hidden;
      margin-bottom: 10vh;

      @include lgMaxBreakPoint{
        display: flex;
        visibility: visible;
        justify-content: center;
      }

      video {
        border-radius: 18.5%/5%;
      }
    }
  }
}
