@font-face {
  font-family: SF Pro;
  src: url("../../public/fonts/SF-Pro.woff2") format("woff2"),
  url("../../public/fonts/SF-Pro.woff") format("woff");
}

@font-face {
  font-family: Millik;
  src: url("../../public/fonts/Millik.woff2") format("woff2"),
  url("../../public/fonts/Millik.woff") format("woff");
}

