// Screen sizes
$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors


$text-dark-300: #b5b5b5;

$bg-primary : #322F37;


//in Use
$purple: #a271ff;
$blue : #4282FF;

//in Use


$text-light: #ffffff;
$text-dark-100: #d7d7d7;
$text-dark-200: #b9b9b9;
$text-dark-400: #838383;
$text-dark-500: #4f4f4f;
$text-blend : rgba(255, 255, 255, 0.6);
$text-blend-dark : rgba(0, 0, 0, 0.6);
$text-dark-50 : #D2d2d2;


$bg-light: #ffffff;
$bg-dark: #1F1F1F;

//in Use
