@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.callToAction {
  width: 100vw;
  //height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  padding: 0;

  @include  lgMaxBreakPoint{
    height: 100vh;
    padding:0;
  }

  .callToActionWrapper {
    height: 100%;
    width: 100%;
    color: black;
    //display: flex;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;

    @include mdMaxBreakPoint {
      padding: 0;
    }

    //align-items: center;
    //justify-content: space-between;
    //align-items: center;
    // border: 3px solid rebeccapurple;

    //.image {
    //  img {
    //    width: 35vw;
    //    // width: 540px;
    //    margin-right: 30px;
    //    // border: 3px solid red;
    //    @include lgMaxBreakPoint {
    //      width: 400px;
    //    }
    //  }
    //  @include mdMaxBreakPoint {
    //    display: none;
    //  }
    //}

    .image {
      width: 100%;
      height: 100%;
      position: relative;
      object-fit: cover;
      object-position: center;
      //position: absolute;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;

      }
    }

    .content {
      position: absolute;
      top: 0;
      height: 100%;
      //z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      padding-bottom: calc(8vw);

      @include xlMaxBreakPoint {
        //width: 20%;
        padding-bottom: calc(12vh);
      }

      @include mdMaxBreakPoint {
        //width: 20%;
        padding-bottom: calc(10vh);
      }



      .heading {
        //font-size: 2vw;
        white-space: nowrap;
        margin-bottom: 35px;

        @include lgMaxBreakPoint {
          font-size: toRem(32);
          white-space: normal;
        }
        @include mdMaxBreakPoint {
          //width: 20%;
          font-size: toRem(32);
        }
      }
    }
  }
}
