@import "../../styles/functions";
@import "../../styles/mixins";
@import "../../styles/variables";


.fixedVideo{
  position: relative;
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    height: 90vh;
    z-index: -1;
    opacity: 0;

    &.indexChange {
      z-index: 1000;
      opacity: 1;
    }

    @include mdMaxBreakPoint {
      width: 100%;
      height: 100vh;
    }
  }
  .cancel {
    position: fixed;
    right: 5%;
    top: 5%;
    opacity: 0;
    z-index: -1;
    cursor: pointer;

    &.cancelIndexChange {
      z-index: 1000;
      opacity: 1;
    }
  }

  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    // filter: blur(24px);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;

    &.overlayIndexChange {
      z-index: 900;
    }
  }
}

.aboutFooter {
  height: 160vh;
  width: 100vw;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  color: white;

  @include mdMaxBreakPoint {
    height: 100%;
  }

  .lines {
    //z-index: 1;
    @include mdMaxBreakPoint {
      display: none;
    }

    .ellipse1 {
      position: absolute;
      width: 100vw;
      height: 100%;
      right: -35%;
    }

    .ellipse2 {
      position: absolute;
      top: 0;
      left: 36%;
      height: 203vh;
    }

    .ellipse3 {
      position: absolute;
      top: 27%;
      height: 100vw;
    }
  }
}

.whiteBg{
  height: 40vh;
  width: 100%;
  background: #fff;
  margin-top: -30vh;

  @include mdMaxBreakPoint {
    height: 15vh;
    margin-top:-10vh;
  }

}

