@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.ourTools {
  width: 100%;
  height: 100%;
  //max-height: 100%;
  background-color: #000000;
  //background-color: red;
  padding: 0 5vw 20vh;
  @include mdMaxBreakPoint {
    height: 100%;
    padding: 10vh 5vw;
  }

  .wrapper {

    width: 100%;
    height: 100%;
    //background-color: #9c66ff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20vh 0 10vh;

      @include mdMaxBreakPoint {
        width: 100%;
        align-items: flex-start;
        padding-top: 0;
        padding-left: 20px;
        padding-bottom: 5vh;
      }

      .subheading {
        @include lgMaxBreakPoint {
          margin-bottom: 5px;
          font-size: toRem(12);
        }
      }

    }

    .docBoxContainer {
      display: grid;
      gap: 25px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
      "andriod andriod ios ios"
      "web web web web";

      @include mdMaxBreakPoint {
        height: 100%;
        gap: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr  1fr;
        grid-template-areas:
      "andriod"
      "ios"
      "web";
      }
    }

    .box {
      height: 450px;
      border-radius: 50px;
      padding: 15%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @include mdMaxBreakPoint {
        height: 80vw;
        width: 80vw;
        margin: 0 auto;
      }

      img {
        height: 130px;
        margin-bottom: 30px;

        @include mdMaxBreakPoint {
          height: 70px;
          margin-bottom: 20px;
        }
        //width: 160px;
      }

      .desc {
        margin-bottom: 30px;

        @include mdMaxBreakPoint {
          margin-bottom: 20px;
        }
      }

    }

    .android {
      grid-area: andriod;
      background: linear-gradient(112.48deg, #003A21 0.32%, #2FBC80 103.26%)
    }

    .web {
      grid-area: web;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(96.65deg, #2E0043 0.29%, #A271FF 100.4%);


      @include mdMaxBreakPoint {
        flex-direction: column;
        align-items: flex-start;
      }

    }

    .ios {
      grid-area: ios;
      //background-color: white;
      background: linear-gradient(112.48deg, #182B96 0.32%, #03A9F4 103.26%);
    }
  }

}
