@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions";

.Studio {
  width: 100%;
  height: 100%;
  padding: 20vh 0 0 5vw;

  @include lgMaxBreakPoint {
    padding-top: 10vh;
    padding-left: 10vw;
  }

  p:nth-child(1) {
    padding-bottom: 5vh;
    @include lgMaxBreakPoint {
      padding-bottom: 1vh;
    }
  }

  p:nth-child(2) {
    text-align: center;
    padding-bottom: 10vh;
    @include lgMaxBreakPoint {
      text-align: left;
      padding-bottom:5vh;
    }
  }

  .img {
    picture {
      //height: 100%;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      img{
        width: 70%;
        @include lgMaxBreakPoint {
          width: 100%;
        }
      }
    }
  }
}