@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.videoStream {
  background-color: $bg-light;


  .wrapper {
    padding-top: 25vh;
    width: 100%;
    height: 100%;

    @include lgMaxBreakPoint {
      padding-top: 10vh;
    }

    .container {
      position: relative;

      img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
      }

      .content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .heading {
          @include lgMaxBreakPoint {
            text-align: center;
          }
        }

        .paragraph {
          text-align: center;
          padding: 5vh 0;
          opacity: 0.8;
        }
      }

    }
  }
}