.verifyOtp {
  // min-height: 100vh;
  background-color: #fff;
  padding-top: 20px;
  // border: 1px solid red;
}

.resendOtp {
  margin-top: 30px;
  font-size: 12px;
  color: #a271ff;
  // border: 1px solid red;
}

.buttonSection {
  margin: 0 auto;
}
