@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.createProduct {
  background-color: #fff;

  min-height: 100vh;
  // height: 100%;
  padding-top: 100px;
  border: 1px solid green;

  color: #000;
  .mdContainer {
    // padding: 20vh 0 50px 0;

    max-width: 500px;

    width: 100%;
    // height: 100%;
    display: flex;
    margin: 0 auto;
    // border: 1px solid red;
    flex-direction: column;

    @include mdMaxBreakPoint {
      //   padding: 10vh 0 0px 0;
      //   padding-top: 40px;
      // padding: 10vh 40px 0 40px;
      // padding: 0 40px;
      // padding-bottom: 0;
      //   border: 1px solid red;
      //   padding-left: 30px;
      //   padding-right: 30px;
      // width: 90%;
      margin: 0 auto;
    }
  }
  //   .content {
  //     margin: 0 auto;
  //     border: 1px solid green;

  .mainHeading {
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .heading {
    font-weight: Bold;
    font-size: 24px;
    line-height: 29px;
    line-height: 100%;
    color: #212121f2;
    margin-bottom: 15px;
    text-align: center;
  }

  // ========================

  .uploadPhotosSection,
  .uploadVideoSection,
  .productSection {
    // border: 1px solid green;
    margin-bottom: 60px;

    .uploadPhotosText {
      // border: 1px solid green;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 50px;
    }

    .uploadPhotosHeading {
      font-weight: bold;
      line-height: 19px;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .uploadPhotosInfo {
      font-size: 12px;
      line-height: 15px;
    }

    .upload {
      // border: 1px solid red;
      padding-left: 30px;
      padding-right: 30px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      svg {
        //   border: 1px solid red;
        margin-right: 30px;
      }
    }

    .selectedImagesSection {
      width: 100%;
      //   border: 1px solid red;
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 20px;

      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */

      // align-items: center;
      // justify-content: center;
      @include mdMaxBreakPoint {
        overflow-x: auto;
      }
    }

    .addPhotosButton {
      padding-left: 30px;
    }
    .selectedImagesSection::-webkit-scrollbar {
      display: none;
    }
  }

  .uploadVideoSection {
    .uploadPhotosText {
      //   border: 1px solid green;
      //   padding-left: 30px;
      //   padding-right: 30px;
      margin-bottom: 50px;
    }

    .uploadPhotosHeading {
      font-weight: bold;
      line-height: 19px;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .uploadPhotosInfo {
      font-size: 12px;
      line-height: 15px;
    }
  }
  .colorSection {
    padding-left: 30px;
    padding-right: 30px;
    // border: 1px solid blue;

    .colorUnit {
      //   border: 1px solid blue;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    .selectInputContainer {
      width: 15%;

      @include mdMaxBreakPoint {
        width: 20%;
      }
    }

    .color {
      width: 54px;
      aspect-ratio: 1;
      border-radius: 50%;
      // background-color: #367df6;
    }
  }

  .colorHeading {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .sizeQuantityHeading {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  .colorHeadingContainer {
    width: 30%;

    // border: 1px solid blue;
  }

  .sizeQuantityInput {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
  }

  .sizeInputContainer,
  .quantityInputContainer {
    // border: 1px solid red;
    width: 40%;
    height: 40px;
    display: flex;
    align-items: flex-end;
  }

  .sizeInputContainer {
    position: relative;

    .cancel {
      position: absolute;
      right: 0;
    }
  }
  .addButton {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
    color: #4282ff;
    cursor: pointer;
    // margin-top: 40px;
    // margin-left: 10px;

    p {
      white-space: nowrap;
    }
  }

  .colorPickerSection {
    display: flex;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    // align-items: flex-start;
    position: relative;
    // border: 1px solid red;

    .hexColorpicker {
      position: absolute;
      top: -400%;
      left: 30px;
    }
  }

  .colorPicker {
    width: 54px;
    aspect-ratio: 1;
    background-color: rgb(230, 0, 255);
    background-image: url("../../../../public/img/pickerIcon.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    // margin-right: 10px;
  }

  .buttonSection {
    //   border: 1px solid red;
    display: flex;
    justify-content: center;
  }
}
// }
.selectInput {
  display: none;
}

.horizontalRule {
  //   border: 1px solid #00000047;
  background-color: #00000045;
  width: 90%;
  height: 1px;
  //   padding: 0 15px;
  margin: 20px auto;
  display: inline-block;
}

.selectedVideoContainer {
  display: flex;
  align-items: center;
  // border: 1px solid red;
}
.selectedVideo {
  width: 130px;
  aspect-ratio: 1;
  border-radius: 50%;
  // border: 2px solid red;
  // background-color: #000;
  // z-index: 1;
  position: relative;
  background-position: center;
  background-size: cover;

  video {
    height: 100%;
    width: 100%;
  }

  .playIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
