@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions";

.forEverybody {
  background-color: #fff;
  padding-top: 25vh;
  //height: 110vh;
  min-height: 100%;
  width: 100%;
  @include mdMaxBreakPoint {
    padding-top: 10vh;
  }


  .wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include mdMaxBreakPoint {
      flex-direction: column;
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100vh;

      @include mdMaxBreakPoint {
        height: 100%;
        width: 100%;
        padding-bottom: 10vh;
      }

      .container {
        color: #000000;
        width: 65%;
        @include mdMaxBreakPoint {
          width: 90%;
        }
          .paragraph {
            //text-decoration: underline;
            width: 100%;
            line-height: 190.3%;

            @include mdMaxBreakPoint {
              font-size: 20px;
            }
          }
      }
    }

    .videoContainer {
      width: 45%;
      height: 100%;
      position: relative;
      right: 0;

      @include mdMaxBreakPoint {
        height: 100vh;
        width: 100%;
      }
      //.imageContainer {
      //  position: absolute;
      //  width: 100%;
      //  height: 100%;
        video{
          width: 100%;
          object-fit: cover;
          height: 100vh;
          position: absolute;
        }
      //}
    }
  }
}