@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/functions";

.whatElse {
  height: min(100%,100vh);
  //min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15vh 0;
  @include mdMaxBreakPoint {
    padding: 10vh 0;
  }

  .paragraph {
    padding: 5vh 0;
    display: flex;
    width: 80%;

    @include mdMaxBreakPoint {
      align-items: flex-start;
      width: 100%;
      margin: 0;
    }

    p {
      text-align: center;
      width: 100%;

      span {
        font-weight: 700;
      }

      @include mdMaxBreakPoint {
        text-align: left;
      }

    }
  }

}