@import "../../../styles/functions";
@import "../../../styles/mixins";
@import "../../../styles/variables";

.ForRetailers {
  background: white;
  color: #000000;

  .wrapper {
    align-items: start;
    width: 100%;
    margin: 0 0 0 5%;
    padding-top: 5vh;

    @include lgMaxBreakPoint {
      max-width: 80vw;
      margin: 0 auto;
    }

    .heading {
      padding-top: 20vh;
      @include lgMaxBreakPoint {
        padding-top: 0;
      }

    }

    .video {
      @include lgMaxBreakPoint {
        width: 80%;
        order: 0;
        margin: 0 auto 10vh;
      }
    }

    .paraContainer {
      padding-top: 20vh;
      @include lgMaxBreakPoint {
        padding-top: 0;
      }
      p {
        color: #8E8E93;
      }

      p:nth-child(2){
        margin-top: 5vh;
        @include lgMaxBreakPoint {
          margin: 0;
        }
      }

    }

  }


  //height: max(100vh, 100%);
  //width: 100vw;
  //background-color: #1f1f1f;
  //color: black;
  //position: relative;
  //overflow: hidden;
  //
  //.ellipse1 {
  //  position: absolute;
  //  top: -20%;
  //  left: 15%;
  //  height: 100%;
  //  width: 100%;
  //  transform: rotate(50deg);
  //}
  //
  //.ellipse2 {
  //  position: absolute;
  //  top: -40%;
  //  left: 55%;
  //  //height: 100%;
  //  width: 100%;
  //  transform: rotate(300deg);
  //}
  //
  //.ellipse3 {
  //  height: 100%;
  //  //width: 100%;
  //  position: absolute;
  //  top: -9%;
  //  left: 75%;
  //  transform: rotate(300deg);
  //}
  //
  //&Wrapper {
  //  //border: 3px solid red;
  //  height: 100vh;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //}
  //
  //
  //
  //.btn {
  //
  //  display: flex;
  //  justify-content: center;
  //  padding-top: 15vh;
  //
  //  @include lgMaxBreakPoint {
  //    padding-top: 10vh;
  //    //margin-top: toRem(50);
  //    justify-content: flex-start;
  //  }
  //}
  //
  //.mainContent {
  //  display: flex;
  //  align-items: center;
  //  justify-content: space-between;
  //
  //
  //  .paragraph {
  //    display: flex;
  //    flex-direction: column;
  //    align-items: flex-end;
  //    justify-content: flex-start;
  //
  //    @include lgMaxBreakPoint {
  //      align-items: flex-start;
  //    }
  //
  //    p {
  //      width: 80%;
  //      color: $text-blend;
  //      //text-decoration: underline;
  //      line-height: 149.3%;
  //      margin-bottom: 20px;
  //
  //      @include lgMaxBreakPoint {
  //        margin-bottom: 10px;
  //        width: 100%;
  //
  //      }
  //    }
  //  }
  //
  //  @include mdMaxBreakPoint {
  //    flex-direction: column;
  //    align-items: flex-start;
  //  }
  //}

}
