.selectedVideo {
  width: 90px;
  aspect-ratio: 1;
  border-radius: 50%;
  //   border: 2px solid red;
  background-color: black;
  z-index: 1;

  //   video {
  //     height: 100%;
  //     width: 100%;
  //   }
}
